// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 * Globals
 */

body {
  font-family: 'Russo One', Helvetica, sans-serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: 'Russo One', Helvetica, sans-serif;
  font-weight: normal;
  color: #333;
}

/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #6BB2FF;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
a.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 400;
  font-family: 'PT Sans Narrow', Helvetica, sans-serif;
  color: #cdddeb;
}
a.blog-nav-item:hover,
a.blog-nav-item:focus {
  font-family: 'PT Sans Narrow', Helvetica, sans-serif;
  color: #0565D3;
  text-decoration: none;
}

a.blog-nav-item:link {
  color: #070D3D;
}

a.blog-nav-item:visited {
  color: #6116CB;
}

/*intro header */
.intro-header {
  background-color: #808080;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
  overflow: hidden;
}

.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 50px;
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 150px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}
.intro-header .post-heading h1 {
  font-size: 35px;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.intro-header .post-heading .subheading {
  font-family: 'PT Sans Narrow', Helvetica, sans-serif;
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}
.intro-header .post-heading .meta {
  font-family: 'PT Sans Narrow', Helvetica, sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.intro-header .post-heading .meta a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}

/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  font-family: 'Russo One', Helvetica, sans-serif;
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}

.subheading {
  font-family: 'PT Sans Narrow', Helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 30px;
}


/*
 * Main column and sidebar layout
 */

 .main-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 40px;
 }

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 50px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 30px;
}
.author {
  font-family: 'PT Sans Narrow', Helvetica, sans-serif;
  font-weight: 700;
}

.blog-post-body {
  font-family: 'PT Sans Narrow', Helvetica, sans-serif;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

.blog-post-tags {
  font-family: 'PT Sans Narrow', Helvetica, sans-serif;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #827FBB;
  text-align: center;
  font-family: 'Russo One', Helvetica, sans-serif;
  background-color: #6BB2FF;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}